#navbar .logo{
    float: none;
    text-align: center;
}
#navbar ul,
#navbar li{
    float: none;
}
#navbar ul li a{
   border-bottom: 1px solid #444;
    padding: 5px;
}
#home-info {
    height: 400px;
}
#home-info .info-img{
    display: none;
}
#home-info .info-content{
    text-align: center;
    float: none;
    width: 100%;
}
#showcase .showcase-content{
    text-align: center;
    color: white;
    padding-top: 100px;
}
#showcase .showcase-content h1{
    font-size: 45px;
    line-height: 1.2em;
}
.box{
    float: none;
    width: 100%;
    padding: 30px;
    text-align: center;
    
}
.box i{
    margin-bottom: 5px;
}
#main-footer {
    text-align: center;
    color: white;
    background: #444;
    padding: 5px;
}
.clr{
    clear: both;
}
#about-info .info-right,
#about-info .info-left{
    float: none;
    width: 100%;
}
.l-heading{
    text-align: center;
}
#contact-info .box {
    border-bottom: 1px solid #444;  
}